html {
    box-sizing: content-box;
}

.container {
    background-image: url("../images/background.jpeg");
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-size: cover;
}

header legend {
    width: 100px;
    font-size: 50px;
    text-align: center;
    margin: 50px auto 50px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 300px;
}

figcaption.title {
    font-size: 48px;
    margin: -60px;
    margin-left: 400px;
}

.checked {
    color: orange;
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-left: 800px;
    border-right: none;
    opacity: 0.5;
}

div.search button {
    width: 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    opacity: 0.5;
}

div.search button:hover {
    background-color: khaki;
}

input[type=image] {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -40px;
}

.nav {
    position: fixed;
    top: 40%;
    left: 0px;
    width: 55px;
    height: 155px;
    background: linear-gradient(to top, transparent, #B5B4B4);
    border-radius: 20px;
}

.nav button {
    background-color: transparent;
    border: none;
}

.border {
    border-bottom: 1px solid black;
}

.genres img,
.authors img,
.wl img,
.fa img,
.filter img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.bookSection {
    width: auto;
    margin-left: 100px;
    background: linear-gradient(to top, transparent, #B5B4B4);
    border-radius: 40px;
    overflow: hidden;
}

.header-container {
    text-align: center;
}

.content-container {
    padding: 10px 20px 100px 20px;
}

.left-column {
    width: 25%;
    float: left;
}

.center-column {
    width: 45%;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    text-align: justify;
}

.right-column {
    width: 23%;
    float: right;
    margin: 5px;
}

.biography {
    padding-left: 15px;
    padding-bottom: 10px;
}

.biography img {
    float: left;
    width: 80%;
    height: 70%;
    margin: 0 5%;
    margin-bottom: 15px;
}

.heading p {
    font-size: 18px;
    width: 85%;
    margin-top: 0px;
    float: right;
    text-transform: uppercase;
}

.authorSection h3 {
    text-align: center;
}

hr {
    border-color: darkgray;
}

.heading img {
    width: 30px;
    height: 30px;
}

.comments p {
    display: block;
    float: left;
    clear: left;
}