.container {
    background-image: url("../images/background.jpeg");
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 300px;
}

figcaption.title {
    font-size: 48px;
    margin: -60px;
    margin-left: 400px;
}

.profilePicture {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: -100px;
}

.personalName {
    font-size: 26px;
    margin-left: -100px;
}

div.search button {
    width: 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    opacity: 0.5;
}

div.search button:hover {
    background-color: khaki;
}

.news1 p {
    text-align: justify;
    vertical-align: top;
    font-size: 24px;
    display: inline;
}

.newsTitle {
    text-align: center;
    display: inline;
    font-size: 24px;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.save-button {
    margin-left: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    font-size: 17px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid grey;
    border-top: none;
    margin-top: 15px;
    background: linear-gradient(transparent, #B5B4B4);
    border-radius: 20px;
}

.save-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: grey;
}

.rightButtons {
    height: 300px;
    float: right;
    margin-top: -350px;
    margin-right: 150px;
}

.rightButtons .checkbox {
    width: 350px;
    background-color: blueviolet;
    height: 150px;
    background: linear-gradient(to top, transparent, #B5B4B4);
    margin-bottom: 30px;
    vertical-align: middle;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
}

.info {
    margin: 10px 10px;
    height: 30px;
}

.info input {
    width: 50%;
    float: right;
    height: 20px;
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-left: 800px;
    border-right: none;
    opacity: 0.5;
}

input[type=image] {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -40px;
}

.menu {
    width: 300px;
    height: 300px;
    vertical-align: middle;
    margin: 100px 200px;
}

button[type=button] {
    width: 300px;
    height: 50px;
    background: linear-gradient(transparent, #B5B4B4);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    padding-bottom: 10px;
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left: 20px;
}

.sort {
    height: 150px;
    background: linear-gradient(transparent, #B5B4B4);
    height: 250px;
    border-radius: 20px;
}

.filter {
    display: inline-block;
    vertical-align: top;
    padding-left: 45px;
    position: relative;
    margin-bottom: 10px;
}

.sort p {
    font-size: 24px;
    text-align: left;
}

.filter input {
    position: absolute;
    left: 20px;
    top: 0;
}

.newsfeed {
    width: 440px;
    height: 350px;
    vertical-align: middle;
    margin-top: -400px;
    margin-left: 500px;
    background: linear-gradient(#B5B4B4, transparent);
    border-radius: 40px;
    overflow: hidden;
}

.news {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}