html {
    box-sizing: content-box;
}

.container {
    background-image: url("../images/background.jpeg");
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-size: cover;
}

header legend {
    width: 100px;
    font-size: 50px;
    text-align: center;
    margin: 50px auto 50px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 300px;
}

figcaption.title {
    font-size: 48px;
    margin: -60px;
    margin-left: 400px;
}

.checked {
    color: orange;
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-left: 800px;
    border-right: none;
    opacity: 0.5;
}

div.search button {
    width: 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    opacity: 0.5;
}

div.search button:hover {
    background-color: khaki;
}

input[type=image] {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -40px;
}

.nav {
    position: fixed;
    top: 40%;
    left: 0px;
    width: 55px;
    height: 270px;
    background: linear-gradient(to top, transparent, #B5B4B4);
    border-radius: 20px;
}

.nav button {
    background-color: transparent;
    border: none;
}

.border {
    border-bottom: 1px solid black;
}

.genres img,
.authors img,
.wl img,
.fa img,
.filter img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.paymentForm {
    background: linear-gradient(to top, transparent, #B5B4B4);
    margin: auto;
    text-align: center;
    width: 30%;
    border-radius: 40px;
    padding-top: 20px;
}

.input-container {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
}

#firstName,
#lastName,
#location,
#telephoneNumber,
#deliveryDate,
#email,
#quantity {
    background: transparent;
    border: none;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

.controllers input[type="submit"],
.controllers input[type="reset"] {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom, transparent, #B5B4B4);
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid grey;
    border-radius: 15px;
    border-top: none;
    height: 30px;
}

.bookPayment {
    text-align: center;
    font-size: 20px;
}