.container{
    background-image: url("../images/background.gif");
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p{
    font-size: 40px;
    text-align:center;
}
.logo{
    width:40px;
    height:40px;
    margin-left:300px;  
}

figcaption.title{
    font-size: 48px;
    margin: -60px;
    margin-left:400px;  
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-left:800px;
    border-right: none;
    opacity:0.5;
  }
  
  div.search button {
    width: 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    opacity:0.5;
  }
  
  div.search button:hover {
    background-color: khaki;
  }
  
  input[type=image]{
    width:40px;
    height: 40px;
    float:right;
    margin-top: -40px;
  }

.menu{
    width: 300px;
    height: 400px;
    vertical-align: middle;
    margin: 80px 200px;
 }

 button[type=button]{
    width: 300px;
    height: 50px;
    background-image: linear-gradient(grey, lightgrey); 
    font-family: "Comic Sans MS", cursive, sans-serif;  
    font-size: 24px;
    border-radius:10px;
    border:none;
    padding-bottom: 10px;
    text-align:left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left:20px;

}

.sort{
  height:150px;
  background-image: linear-gradient(grey, lightgrey);
  height:250px;
  border-radius: 20px;
  margin-top:-10px;
}

.filter{
    display: inline-block;
    vertical-align: top;
    padding-left: 45px;
    position: relative;
    margin-bottom: 10px;
}
.sort p{
  font-size:24px;
  text-align:left;
}
.filter input {
    position: absolute;
    left: 20px;
    top: 0;
  }

.newsfeed{
    width:600px;
    height: 400px;
    vertical-align: middle;
    margin-top: -450px;
    margin-left: 600px;
    background-image: linear-gradient(grey, lightgrey);
    border-radius:40px;
    overflow:hidden;
}
.news{
    width:60px;
    height:60px;
    display: inline-block;
    vertical-align: middle;
}
.newsTitle{
    text-align:center;
    display:inline;
    font-size:24px;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;  

}
.news1 img{
  float:left;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  }
.news1 p{
    text-align: justify;
    vertical-align: top;
    font-size:24px;
    display:inline;
}

.genres img, .authors img, .wl img, .fa img{
  float:left;
  width:40px;
  height: 40px;
}

.filterIcon{
  float:left;
  width:40px;
  height: 40px;
  margin-left:10px;
  margin-top: 5px;
}