.container {
    background-image: url("../images/background.gif");
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    font-size: 40px;
    text-align: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 300px;
}

figcaption.title {
    font-size: 48px;
    margin: -60px;
    margin-left: 400px;
}

.rating {
    float: left;
    border: none;
    margin: 0 2%;
    clear: left;
}

.rating p {
    font-size: 18px;
    display: inline;
}

.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    width: 1em;
    /* padding: 0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color: #f70;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ea0;
}

.rating>label:active {
    position: relative;
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    margin-left: 800px;
    border-right: none;
    opacity: 0.5;
}

div.search button {
    width: 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    opacity: 0.5;
}

div.search button:hover {
    background-color: khaki;
}

input[type=image] {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -40px;
}

.nav {
    position: fixed;
    top: 40%;
    left: 0px;
    width: 55px;
    height: 270px;
    background: linear-gradient(grey, lightgrey);
    border-radius: 20px;
}

.nav button {
    background-color: transparent;
    border: none;
}

.border {
    border-bottom: 1px solid black;
}

.genres img,
.authors img,
.wl img,
.fa img,
.filter img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.authorSection {
    width: auto;
    /* height: auto; */
    margin-left: 200px;
    background-image: linear-gradient(grey, lightgrey);
    border-radius: 40px;
    overflow: hidden;
}

.biography {
    width: 70%;
    float: left;
}

.photo {
    text-align: justify;
    width: 200px;
}

.biography img {
    float: left;
    width: 70%;
    height: 70%;
    margin: 0 5%;
}

.biography p {
    display: table-cell;
    width: 60%;
    font-size: 18px;
    text-align: justify;
}

.commentsSection {
    width: 25%;
    float: right;
}

.commentsSection p {
    font-size: 18px;
    float: right;
}

.authorSection h3 {
    text-align: center;
}

hr {
    border-color: darkgray;
}

.heading img {
    width: 30px;
    height: 30px;
    /* float: left; */
}

.comments p {
    float: left;
}

.newComment img {
    width: 30px;
    height: 30px;
}